    <header>
        <h1 class="page--title">Saber y ganar</h1>

        <div id="intro">
            <!--<ul>-->
                <!--<li>Tienes 12 segundos para responder cada pregunta.</li>-->
                <!--<li>La puntuación depende del tiempo que tardes en contestar</li>-->
                <!--<li>Las respuestas incorrectas y las preguntas que no se respondan restan puntos</li>-->
            <!--</ul>-->

            <!--<button type="button" id="start&#45;&#45;button" class="start&#45;&#45;button">Comenzar a Jugar</button>-->
        </div>
    </header>
