//<!DOCTYPE html>
//<html lang="en">
//<head>
//    <meta charset="UTF-8">
//    <title>Saber y Ganar</title>
//</head>

doctype html
html(lang="es")
    head
        title Saber y Ganar
    include body
//</html>

