<<<<<<< HEAD
//<!DOCTYPE html>
//<html lang="en">
//<head>
//    <meta charset="UTF-8">
//    <title>Saber y Ganar</title>
//</head>

doctype html
html(lang="es")
    head
        title Saber y Ganar
    include body
//</html>

=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saber y Ganar</title>
</head>
<body>
    <h1>Hola #{variable}</h1>
    include body.html
    <script src="main.js"></script>
    <script>application().start()</script>
</body>
</html>
>>>>>>> 7587f023a226ed4cf227b8aa13d47dc3486d4f44
